<mat-toolbar>
    <mat-toolbar-row class="d-inline-flex">
        <span class="navbar-brand">
            <a [routerLink]="['/main']">
                <img class="brand-image" src="../../assets/security.png"/>
            </a>
        </span>
        <h3 class="text-primary mr-auto ml-0">Security System</h3>
        <div *ngIf="showExtras">
            <app-events class="ml-auto"></app-events>
            <button mat-button class="dropdown-toggle arrow p-1 disable-focus" [matMenuTriggerFor]="menu">
                Log Out
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="logout" (click)="openSettings()" class="disable-focus">
                        <span class="logout">Settings</span>
                        <mat-icon>settings</mat-icon>
                    </button>
                    <button mat-menu-item class="logout" (click)="checkAlerts()" class="disable-focus">
                        <span class="logout">Alerts</span>
                        <mat-icon>warning</mat-icon>
                    </button>
                    <button mat-menu-item class="logout" (click)="logOut()" class="disable-focus">
                        <span class="logout">Log Out</span>
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </mat-menu>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>