<div class="center-content h-100">
    <h2 class="text-center text-primary">Security System</h2>
    <mat-progress-bar *ngIf="isLoading" class="progress" mode="indeterminate"></mat-progress-bar>
    <mat-card class="center-content shadow-lg rounded">
        <mat-card-header class="w-100 bg-primary text-center d-block">
            <mat-card-title>
                <h3 class="text-white">Login</h3>
            </mat-card-title>
        </mat-card-header>
        <img class="mt-lg-1" src="../../assets/security.png">
        <mat-card-content>
            <form (ngSubmit)="login()" #f="ngForm">
                <div>
                    <mat-form-field class="form-width">
                        <mat-icon matPrefix class="pr-3">account_circle</mat-icon>
                        <input class="custom-input"
                               #username="ngModel"
                               name="username"
                               matInput
                               placeholder="Enter your Username"
                               [type]="'text'"
                               required
                               ngModel>
                        <mat-error *ngIf="  username.untouched">username is invalid!</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="form-width">
                        <span class="btn" (click)="hidePassword = !hidePassword" matSuffix><mat-icon matSuffix>{{hidePassword?'visibility_off' : 'visibility'}}</mat-icon></span>
                        <mat-icon matPrefix class="pr-3">lock</mat-icon>
                        <input class="custom-input"
                               #password="ngModel"
                               name="password"
                               matInput
                               placeholder="Enter your Password"
                               [type]="hidePassword?'password':'text'"
                               required
                               ngModel>
                        <mat-error *ngIf="password.untouched">password is invalid!</mat-error>
                    </mat-form-field>
                </div>
                <mat-card-actions class="text-center">
                    <button [disabled]="!f.valid" type="submit" class="btn btn-primary w-75 h-auto">Log In</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
        <div *ngIf="f.untouched && isError" class="bg-danger text-white card-footer text-center">
            Access Denied
        </div>
    </mat-card>
</div>