/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/nova-colored/theme.css";
@import "~primeicons/primeicons.css";

.center-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.custom-input {
    height: 26px;
    width: 230px !important;
}

.form-width {
    width: 230px !important;
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
}

.mat-card-header-text {
    margin: auto !important;
}

.mat-tab-label-active {
    color: #1565C0;
}

.disable-focus:focus {
    outline: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.toast {
    background-color: #28a745;
}