<div class="d-flex flex-column h-100 w-100">
    <app-header></app-header>
    <div class="d-flex flex-fill ml-5">
        <mat-tab-group mat-stretch-tab class="tab-group-container">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="mr-2">lock_open</mat-icon>
                    White List
                </ng-template>
                <div class="h-auto">
                    <app-tabs dbType="whitelist"></app-tabs>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="mr-2">lock</mat-icon>
                    Black List
                </ng-template>
                <div class="h-auto">
                    <app-tabs dbType="blacklist"></app-tabs>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <button mat-fab class="bg-primary ml-auto mr-4 mb-4" (click)="openAddUser()">
        <mat-icon>add</mat-icon>
    </button>
</div>