<div class="d-flex flex-column h-100 w-100">
    <app-header></app-header>
    <div class="d-flex flex-fill w-100">
        <mat-tab-group mat-stretch-tab [dynamicHeight]="true" class="tab-group-container">
            <mat-tab label="White List">
                <app-tabs dbType="whiteLists"></app-tabs>
            </mat-tab>
            <mat-tab label="Black List"></mat-tab>
        </mat-tab-group>
    </div>
    <button mat-fab class="bg-primary ml-auto mr-4 mb-4" (click)="openAddUser()">
        <mat-icon>add</mat-icon>
    </button>
</div>