<app-header *ngIf="showHeader" [showExtras]="false"></app-header>
<div class="live-container center-content">
    <mat-spinner *ngIf="isLoading;else liveContainer"></mat-spinner>
    <ng-template #liveContainer>
        <div class="d-flex flex-row align-items-center">
            <!--<div class="d-flex">-->
            <!--<button type="button" mat-icon-button (click)="stop()">-->
            <!--<mat-icon color="warn">stop</mat-icon>-->
            <!--</button>-->
            <!--<button type="button" mat-icon-button (click)="reload()">-->
            <!--<mat-icon>replay</mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <img [src]="getLiveUrl()">
        </div>
    </ng-template>
</div>
