.alert-container {
    border-color: #dc3545 !important;
    padding: 16px !important;
}

.mat-icon.mat-warn {
    font-size: 60px;
    position: relative;
    bottom: 20px;
    right: 25px;
}

.dialog-close {
    position: relative;
    bottom: 40px;
    left: 30px;
}