<div class="text-center alert-container border">
    <button type="button" class="close disable-focus dialog-close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex flex-row justify-content-center">
        <mat-icon class="mr-4" color="warn">warning</mat-icon>
        <h3 class="text-danger d-inline">Alert</h3>
    </div>
    <h5 class="text-secondary">Unkown Person Detected Please Classify</h5>
    <div class="d-flex flex-column justify-content-between mt-2">
        <img [src]="matData" class="img-thumbnail mr-4 rounded">
        <div class="d-flex flex-row justify-content-between mt-2">
            <button type="button" class="btn btn-success" (click)="addTo(dbTypes.blacklist)">Add To WhiteList</button>
            <button type="button" class="btn btn-danger" (click)="addTo(dbTypes.whitelist)">Add To BlackList</button>
        </div>

    </div>
</div>
